body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
  color: currentColor
}
ul {
  list-style-type: none;
}

.logo {
  color: #4D5AE5;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.logo-dark {
  color: #2E2F42;
}
.logo-light {
  color: #F4F4FD;
}

.menu-studio:hover {
  color: #404bbf;
}
.menu-studio:active {
  color: #404bbf;
  text-decoration: underline;
}
.menu:hover {
  color: #404bbf;
}
.menu:active {
  color: #404bbf;
}
.contacts{
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}
.hero{
  background-color: #2e2f42;
}
.hero h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
/*region team*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  
  text-align: center;
}
.team-item {
  background-color: #ffffff;
}
.team-name {
  
  text-align: center;
}
.team-position {
  
  text-align: center;
}
/*endregion team*/

/*region portfolio*/
.portfolio-title {
  text-align: center;
}
/*endregion portfolio*/

/*region footer*/
footer {
  background-color: #2E2F42;
}
footer p {
  color: #e7e9fc;
}
/*endregion footer*/
